body {
    margin: 0;
}

li {
    display: inline;
    font-size: 2em;
    padding: 10px;
  }

  li > a  {
    color:black;
  }

  .nav-link {
    text-decoration: none;
    color:black;
}


ul {
    padding-top: 5px;
    display:block;
}

footer {
    background-color: purple;
    color: white;
}

.bg-img {
    background-image: url("documents/images/main_photo.jpg");
}

