@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');

body {
    margin: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

main {
    background-color: purple;
}

li {
    display: inline;
    font-size: 2em;
    padding: 10px;
  }

  li > a  {
    color:black;
  }

  .nav-link {
    text-decoration: none;
    color:black;
}


ul {
    padding-top: 5px;
    display:block;
}

footer {
    background-color: purple;
    color: white;
}



